/**
 * Project                            : Pagu
 * Type                               : Website
 * CSS preprocessor                   : SASS
 * CSS architecture                   : SMACSS, MVCSS, OOCSS
 * CSS authoring frameworks           : Compass, Foundation, Sukiyaki
 * CSS resets / normalization         : Reset.css, Normalize.css
 * JS features detection              : Modernizr
 * Front-end template                 : Pagu (based on Onigiri)
 * Layouts                            : Responsive Web Design
 * Design approach                    : Mobile first
 * Media                              : Desktops, tablets, mobiles
 * Pixel density                      : 1-2 dppx
 * Section                            : Main styles
 * Developers                         : Your name
 */
meta.foundation-version {
  font-family: "/5.5.1/";
}

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0;
}

meta.foundation-mq-small-only {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0;
}

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

meta.foundation-mq-medium-only {
  font-family: "/only screen and (min-width:40.063em) and (max-width:64em)/";
  width: 40.063em;
}

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

meta.foundation-mq-large-only {
  font-family: "/only screen and (min-width:64.063em) and (max-width:90em)/";
  width: 64.063em;
}

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

meta.foundation-mq-xlarge-only {
  font-family: "/only screen and (min-width:90.063em) and (max-width:120em)/";
  width: 90.063em;
}

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

meta.foundation-data-attribute-namespace {
  font-family: false;
}

@font-face {
  font-family: "Font-Regular";
  src: url('../fonts/Font-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Font-Bold";
  src: url('../fonts/Font-Bold.ttf') format('truetype');
}
@font-face {
  font-family: "Font-Italic";
  src: url('../fonts/Font-Italic.ttf') format('truetype');
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: Font-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #fff;
  color: #666;
  line-height: 20px;
}

a {
  color: #fff;
  text-decoration: none;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0;
}

b,
strong,
i,
em {
  font-style: normal;
  font-weight: normal;
}

b,
strong {
  font-family: Font-Bold;
}

i,
em {
  font-family: Font-Italic;
}

small {
  font-size: 100%;
}

mark {
  background-color: transparent;
}

ul,
ol {
  margin: 0;
}

img {
  vertical-align: middle;
}

table {
  background-color: transparent;
  max-width: 100%;
}

th {
  text-align: left;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .row {
  width: auto;
  margin-left: -7.5px;
  margin-right: -7.5px;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}
.row .row:after {
  content: "";
  display: table;
  clear: both;
}

.row-collapse {
  width: 100%;
  margin: 0;
  max-width: 100%;
}
.row-collapse:after {
  content: "";
  display: table;
  clear: both;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {
  padding-left: 7.5px;
  padding-right: 7.5px;
  width: 100%;
  float: none;
}

.col-1 {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-2 {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-3 {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-4 {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-5 {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-6 {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row .row {
    width: auto;
    margin-left: -7.5px;
    margin-right: -7.5px;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }
  .row .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .col-1 {
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: 16.66667%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .col-2 {
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: 33.33333%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .col-3 {
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: 50%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .col-4 {
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: 66.66667%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .col-5 {
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: 83.33333%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .col-6 {
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: 100%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .offset-1 {
    margin-left: 16.66667%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .offset-2 {
    margin-left: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .offset-3 {
    margin-left: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .offset-4 {
    margin-left: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .offset-5 {
    margin-left: 83.33333%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .offset-6 {
    margin-left: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }

  .row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row .row {
    width: auto;
    margin-left: -7.5px;
    margin-right: -7.5px;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }
  .row .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .col-1 {
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: 16.66667%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-2 {
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: 33.33333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-3 {
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-4 {
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: 66.66667%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-5 {
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: 83.33333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-6 {
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: 100%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.container {
  background: skyblue;
}

.inner {
  background: pink;
}
