/**
 * Project                            : Pagu
 * Type                               : Website
 * CSS preprocessor                   : SASS
 * CSS architecture                   : SMACSS, MVCSS, OOCSS
 * CSS authoring frameworks           : Compass, Foundation, Sukiyaki
 * CSS resets / normalization         : Reset.css, Normalize.css
 * JS features detection              : Modernizr
 * Front-end template                 : Pagu (based on Onigiri)
 * Layouts                            : Responsive Web Design
 * Design approach                    : Mobile first
 * Media                              : Desktops, tablets, mobiles
 * Pixel density                      : 1-2 dppx
 * Section                            : Main styles
 * Developers                         : Your name
 */
@font-face {
  font-family: "Font-Regular";
  src: url('../fonts/Font-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Font-Bold";
  src: url('../fonts/Font-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Font-Italic";
  src: url('../fonts/Font-Italic.ttf') format('truetype');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

td,
th {
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: Font-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: white;
  color: #666666;
  line-height: 20px;
}

a {
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0;
}

b,
strong,
i,
em {
  font-style: normal;
  font-weight: normal;
}

b,
strong {
  font-family: Font-Bold;
}

i,
em {
  font-family: Font-Italic;
}

small {
  font-size: 100%;
}

mark {
  background-color: transparent;
}

ul,
ol {
  margin: 0;
}

img {
  vertical-align: middle;
}

table {
  background-color: transparent;
  max-width: 100%;
}

th {
  text-align: left;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .row {
  width: auto;
  margin-left: -7.5px;
  margin-right: -7.5px;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}
.row .row:after {
  content: "";
  display: table;
  clear: both;
}

.row-collapse {
  width: 100%;
  margin: 0;
  max-width: 100%;
}
.row-collapse:after {
  content: "";
  display: table;
  clear: both;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {
  position: relative;
  padding-left: 7.5px;
  padding-right: 7.5px;
  width: 100%;
  float: none;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row .row {
    width: auto;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }
  .row .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .col-1 {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    width: 16.66667%;
    float: left;
  }

  .col-2 {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    width: 33.33333%;
    float: left;
  }

  .col-3 {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    float: left;
  }

  .col-4 {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    width: 66.66667%;
    float: left;
  }

  .col-5 {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    width: 83.33333%;
    float: left;
  }

  .col-6 {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    float: left;
  }

  .offset-1 {
    margin-left: 16.66667%;
  }

  .offset-2 {
    margin-left: 33.33333%;
  }

  .offset-3 {
    margin-left: 50%;
  }

  .offset-4 {
    margin-left: 66.66667%;
  }

  .offset-5 {
    margin-left: 83.33333%;
  }

  .offset-6 {
    margin-left: 100%;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }

  .row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1280px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row .row {
    width: auto;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }
  .row .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .col-1 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    width: 16.66667%;
    float: left;
  }

  .col-2 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    width: 33.33333%;
    float: left;
  }

  .col-3 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
    float: left;
  }

  .col-4 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    width: 66.66667%;
    float: left;
  }

  .col-5 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    width: 83.33333%;
    float: left;
  }

  .col-6 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    float: left;
  }
}
.container {
  background: skyblue;
}

.inner {
  background: pink;
}
