// CONFIGURATIONS
// Where variables can be changed and customized
// -----------------------------------------------------------------------------
// Zurb Foundation
$include-html-classes : false;  			// Eliminate unused styles
$default-float        : left;   			// Default float
$opposite-direction   : right;  			// Default oposite direction
