// BASE
// A Base rule is applied to an element using an element selector.
// It is defining the default styling for how that element should look
// in all occurrences on the page.
// -----------------------------------------------------------------------------
// Defaults

// Tell the browser to consider border and padding as part of the width of
// an object rather than as an addition.
* {
  &, &:before, &:after {
    @include box-sizing(border-box);
  }
}

html {
  font: {                                      // Default font
    family: $font-style-base;
    size: $font-size-base;
    style: normal;
    weight: normal;
  }
  -webkit-tap-highlight-color: transparent;    // Tapping highlight
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $bkg-color-base;
  color: $color-base;
  line-height: $line-height-base;
}
// -----------------------------------------------------------------------------
// Links
a {
  color: $link-color-normal;
  text-decoration: none;
  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }
  &:active {
    color: $link-color-active;
  }
}
// -----------------------------------------------------------------------------
// Text-level semantics

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
}

// Body text
p { line-height: normal; }

// Emphasis & misc
b,
strong,
i,
em {
  font: {
    style: normal;
    weight: normal;
  }
}

b,
strong {
  font-family: $font-style-bold;
}

i,
em {
  font-family: $font-style-italic;
}

small { font-size: 100%; }

mark { background-color: transparent; }
// -----------------------------------------------------------------------------
// Embedded content
img { vertical-align: middle; }

// -----------------------------------------------------------------------------
// Grouping content
hr {}

// -----------------------------------------------------------------------------
// Forms

// -----------------------------------------------------------------------------
// Tables
table {
  background-color: transparent;
  max-width: 100%;
}

th { text-align: left; }
// -----------------------------------------------------------------------------
// Pseudo-elements
::-moz-selection {
  background: $color-selection;
  text-shadow: none;
}

::selection {
  background: $color-selection;
  text-shadow: none;
}
