// BASE
// A Base rule is applied to an element using an element selector.
// It is defining the default styling for how that element should look
// in all occurrences on the page.

// Normalize
// Small CSS file that provides better cross-browser consistency in the
// default styling of HTML elements.

@import "vendor/normalize";
// -----------------------------------------------------------------------------
// Defaults
* {
	&, &:before, &:after {
		@include box-sizing(border-box);
	}
}

html {
	font: {                                      // Default font
		family: $font-style-base;
		size: $font-size-base;
		style: normal;
		weight: normal;
	}
  -ms-text-size-adjust: 100%;                  // Text size adjustment
  -webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;    // Tapping highlight
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: $bkg-color-base;
	color: $color-base;
	line-height: $line-height-base;
}
// -----------------------------------------------------------------------------
// Links
a {
	color: $link-color-normal;
	text-decoration: none;
	@include transition(all 0.25s ease-in-out);
}
// -----------------------------------------------------------------------------
// Text-level semantics

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1;
	margin: 0;
}

// Body text
p {}

// Emphasis & misc
b,
strong,
i,
em {
	font: {
		style: normal;
		weight: normal;
	}
}
b,
strong {
	font-family: $font-style-bold;
}
i,
em {
	font-family: $font-style-italic;
}

small { font-size: 100%; }
mark { background-color: transparent; }
sup,
sub {

}

// Lists
ul,
ol {
	margin: 0
}
ul {}
ol {}
li {}
// -----------------------------------------------------------------------------
// Embedded content
img { vertical-align: middle; }

// -----------------------------------------------------------------------------
// Grouping content
hr {}

// -----------------------------------------------------------------------------
// Forms
form {}
button {}
input {}
select {}
textarea {}
legend {}
// -----------------------------------------------------------------------------
// Tables
table {
	background-color: transparent;
	max-width: 100%;
}
th { text-align: left; }
// -----------------------------------------------------------------------------
// Pseudo-elements
::-moz-selection {
  background: $color-selection;
  text-shadow: none;
}
::selection {
  background: $color-selection;
  text-shadow: none;
}
