// SETTINGS
// Grouping all the app-wide settings into one file allows newcomers to
// the project the means to find out what's available to them quickly.
// -----------------------------------------------------------------------------
// Fonts

// Regular
// @include font-face(
//   "Font-Regular",
//   font-files("Caviar.Dreams-Regular.ttf")
// );

// // Bold
// @include font-face(
//   "Font-Bold",
//   font-files("Caviar.Dreams-Bold.ttf")
// );

// // Italic
// @include font-face(
//   "Font-Italic",
//   font-files("Caviar.Dreams-Italic.ttf")
// );
// -----------------------------------------------------------------------------
// Configurable variables
// Declar variables that can beused throughout stylesheets.
// -----------------------------------------------------------------------------
// Development
$dev-approach           : mobile;   // Mobile first


// Fonts
$font-style-regular     : Font-Regular;
$font-style-bold        : Font-Bold;
$font-style-light       : Font-Light;
$font-style-italic      : Font-Italic;

$font-family-websafe    : Arial, Helvetica, sans-serif;

$font-style-base        : $font-style-regular;
$font-size-base         : 16px;


// Line-height
$line-height-base       : 20px;


// Grid
$grid-fluid             : false;

$grid-width-small       : 100%;     // Base
$grid-width-medium      : 768px;
$grid-width-large       : 1280px;

@if $grid-fluid {
  $grid-width-medium    : 100%;
  $grid-width-large     : 100%;
}

$grid-padding-small     : 15px;     // Base
$grid-padding-medium    : 20px;
$grid-padding-large     : 30px;

$grid-gutter-small      : 15px;     // Base
$grid-gutter-medium     : 20px;
$grid-gutter-large      : 30px;

$grid-column-small      : 6;        // Base
$grid-column-medium     : 6;
$grid-column-large      : 6;

$grid-breakpoint-small  : 0;
$grid-breakpoint-medium : 768px;
$grid-breakpoint-large  : 1280px;


// Colors
$color-base             : #666;
$color-light            : #999;
$color-bright           : #fff;
$color-primary          : #000;
$color-highlight        : #bbb;
$color-selection        : #b3d4fc;


// Backgrounds
$bkg-color-base         : #fff;
$bkg-color-primary      : #000;
$bkg-color-highlight    : #bbb;


// Links
$link-color-normal      : #666;
$link-color-hover       : #000;
$link-color-active      : #000;
$link-bkg-normal        : #fff;
$link-bkg-hover         : #fff;
$link-bkg-active        : #fff;


// Path
$path-vendor            : "vendor/";


// Devices
$device-mouse           : ".no-touch &";
$device-touch           : ".touch &";


// OS
$os-mac                 : ".OS-Mac &";
$os-windows             : ".OS-Windows &";


// Browsers
$browser-chrome         : ".Browser-Chrome &";
$browser-safari         : ".Browser-Safari &";
$browser-firefox        : ".Browser-Firefox &";
$browser-ie             : ".Browser-IE &";
$browser-ie-08          : ".MSIE-8 &";
$browser-ie-09          : ".MSIE-9 &";
$browser-ie-10          : ".MSIE-10 &";
$browser-ie-11          : ".MSIE-11 &";
$browser-legacy         : ".MSIE-8 &";


// Ratios
$ratio-retina           : 2;
